<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Login</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginForm" style="padding-top: 15px">
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        @if (loginForm.controls['email'].touched && loginForm.controls['email'].invalid) {
          <mat-error>
            @if (loginForm.controls['email'].hasError('required')) {
              <span>This field is mandatory.</span>
            }
            @if (loginForm.controls['email'].hasError('pattern')) {
              <span>This field is invalid.</span>
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (loginForm.controls['password'].touched && loginForm.controls['password'].invalid) {
          <mat-error>
            @if (loginForm.controls['password'].hasError('required')) {
              <span>This field is mandatory.</span>
            }
          </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="loginForm.invalid || !loginForm.dirty"
  >
    <mat-icon>login</mat-icon> Login
  </button>
  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions>
